/* ===== FOOTER STYLES ===== */
.footer {
  background: #1e1d1d;
  color: #fff;
}

.footer-link{
    color: #fff;
}

.footer .footer-link:hover {
  color: #ff8906;
  text-decoration: underline;
}

.footer-social a {
  font-size: 1.2rem;
  padding-left: 10px;
  transition: color 0.2s;
}

.footer-social a:hover {
  color: #ff8906;
}

.footer h5 {
  letter-spacing: 1px;
}

@media (max-width: 767.98px) {
  .footer {
    text-align: center;
  }
  .footer .col-md-3,
  .footer .col-md-2,
  .footer .col-md-4 {
    margin-bottom: 2rem;
  }
}