body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 1rem;
  background: #e9e9e9;
  color: #232946;
}
 /* body, .main-container, .header-container {
    background: #383838 !important;
    color: #fff !important;
    font-family: 'Poppins', 'Arial', sans-serif;
} */
h1, h2, h3, h4, h5, h6 {
  /* font-family: 'Playfair Display', 'Poppins', Arial, Helvetica, sans-serif; */
  font-weight: 700;
  /* color: #b2b5b7; */
  letter-spacing: 1px;
  /* color: #000000; */
}
.navbar-brand {
  font-family: 'Playfair Display', 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
.hero {
  background-image: url("your-image.jpg");
  background-size: cover;      /* fills area but keeps quality */
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: -webkit-optimize-contrast; /* helps sharpness */
  image-rendering: crisp-edges;
}
.section-title{
    font-weight: 700;
    letter-spacing: 1px;
    color: #000000;
}


/* HEADER STYLES  */
.header {
    box-shadow: 0 2px 10px rgba(125, 124, 124, 0.5);
    background: rgba(193, 189, 189, 0.5);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    transition: background 0.8s, backdrop-filter 0.8s;
    z-index: 9999;
    min-height: 70px;
}

.header.scrolled {
    background: rgba(7, 7, 7, 0.7) !important;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08) !important;
    backdrop-filter: blur(12px) !important;
    -webkit-backdrop-filter: blur(12px) !important;
}

/* .logo-img {
    width: 150px !important;
    height: 70px !important;
    border-radius: 10%;
    margin-right: 2px;
    object-fit: contain;
} */

.navbar {
    padding-top: 0.6rem;
    padding-bottom: 0.7rem;
}

.navbar-brand {
    padding-left: 2rem;
    font-size: 2rem;
    color: #232946 !important;
}

.navbar-nav .nav-link {
    color: #232946 !important;
    margin-right: 0.75rem;
    font-weight: 500;
    font-size: 1.1rem;
    transition: color 0.2s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    color: #ff8906 !important;
}

.header.scrolled .navbar-nav .nav-link {
    color: #fff !important;
}

.header.scrolled .navbar-nav .nav-link:hover {
    color: #ff8906 !important;
}

.header.scrolled .navbar-brand {
    filter: invert(100%);
}

.navbar-toggler {
    background-color: #e68900;
    border: none;
    outline: none;
}

.dropdown-menu.services-dropdown , .account-dropdown {
    background: #e9e9e9;
    border-radius: 12px;
    /* padding: 1rem; */
    /* margin: 2rem; */
}

.services-dropdown-item:hover, .account-dropdown-item:hover {
    background: #c2c1c1;
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        position: relative;
        /* top: 10px; */
        padding: 0.5rem 1rem;
        background: #181818;
        left: 0;
        width: 100%;
        z-index: 1000;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 12px 12px 12px 12px;
    }

    .navbar-nav .nav-link {
        color: #e9eaef !important;
        font-size: 1.05rem;
    }

    .navbar-brand {
        color: #232946 !important;
        font-size: 1.7rem;
    }

    .dropdown-menu {
        background: #666666;
        border-radius: 12px;
    }
}

@media (max-width: 575.98px) {
    .navbar-brand img {
        width: 110px;
        height: 50px;
    }

    .navbar-collapse {
        top: 45px;
    }

    .header {
        padding-left: 4px;
        padding-right: 4px;
    }
}
/* ---- END HEADER STYLES ---- */

/* ---- WELCOME BANNER ---- */
.welcome_banner {
    position: relative;
    width: 100vw;
    height: 100vh;
    min-height: 500px;
    overflow: hidden;
    font-family: 'Indie Flower', cursive, Arial, sans-serif;
}

.welcome-banner-section {
    position: relative;
    width: 100%;
    height: 100%;
}

.welcome-banner-section img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: 1;
}

.banner-overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%;
    height: 100%; */
    background: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.welcome-banner-content {
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
    z-index: 3;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 8px #00000080;
}

.welcome-banner-title {
    font-family: 'Indie Flower', cursive, Arial, sans-serif;
    color: #e68900 !important;
    font-size: 4vw;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

.welcome-banner-subtitle {
    font-size: 1.5vw;
    letter-spacing: 1px;
    margin-bottom: 2rem;
}

.search-container {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    width: 90%;
    max-width: 900px;
}

.search-container form {
    display: flex;
    gap: 1rem;
    border-radius: 12px;
    padding: 0.8rem 1rem;
    background: rgb(255, 255, 255, 0.4);
    box-shadow: 0 4px 16px #000a;
    justify-content: center;
    align-items: center;
}

.form-control {
    flex: 1 1 250px;
    border: 2px solid #fff;
    border-radius: 8px;
    background: black;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    outline: none;
    transition: border-color 0.2s, color 0.2s;
}

.form-control::placeholder {
    color: #ccc;
    opacity: 1;
}

.form-control:focus {
    background: #000000;
    border: 2px solid #fff;
    color: #fff;
}

.btn-search {
    background: #eba554 !important;
    color: #181818;
    font-weight: bold !important;
    border-radius: 25px;
    transition: box-shadow 0.3s;
    border: none;
}

.btn-search:hover,
.btn-search:focus {
    box-shadow: 0 0 10px 2px #7fc6e2;
    background: #181818 !important;
    color: #eba554 !important;
}

@media (max-width: 700px) {
    .welcome-banner-title {
        font-size: 2rem;
    }

    .welcome-banner-subtitle {
        font-size: 1rem;
    }

    .search-container {
        max-width: 60vw;
        width: 98vw;
    }

    .search-container form {
        flex-direction: column;
        gap: 0.5rem;
        padding: 0.6rem 0.5rem;
    }

    .form-control,
    .btn-search {
        width: 100%;
        font-size: 1rem;
    }
}
/* ---- END WELCOME BANNER ---- */

/* ---- SERVICES ---- */
.services-container {
    min-height: 60vh;
    padding: 1rem 1rem;
}

.service-card {
    background: #222;
    padding: 1.5rem;
    border-radius: 10px;
    transition: background 0.9s, transform 0.4s;
      /* transition: all 0.3s ease-in-out; */
    min-height: 40vh;
    
}

.service-card:hover {
    box-shadow: 0 0 20px 2px #7fc6e2 !important;
    transform:  translateY(-5px) !important;
    /* transform: scale(1.10) translateY(-5px) !important; */
    background: #181818;
}
/* ---- END SERVICES ---- */


/* ---- GALLERY ---- */
.gallery-container {
    min-height: 60vh;
    padding: 1rem 1rem;
}

.carousel-container {
    position: relative;
    left: 0;
    width: 100%;
    padding: 2rem 0;
    min-height: 50px;
}

.carousel-container img {
    width: 100%;
    height: 600px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s;
}

.carousel-inner .carousel-item img.zoom-hover-img:hover {
    transform: scale(1.10);
}

.carousel-caption {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    box-shadow: 0 50px 70px #000a;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

.carousel-indicators li {
    background-color: #ff8906;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.carousel-indicators .active {
    background-color: #fff;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #ff8906;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .carousel-container {
        width: 100%;
        left: 0;
        padding: 1rem 0;
    }

    .carousel-container img {
        height: 220px;
    }
}

/* Gallery Cards */
.gallery-card {
    min-height: 30vh;
    border-radius: 10px;
    padding: 1.5rem;
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: box-shadow 0.3s, border-color 0.3s, transform 0.4s;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.gallery-card:hover {
    box-shadow: 0 0 20px 2px #7fc6e2 !important;
    transform: scale(1.05) translateY(-5px) !important;
}

.gallery-text {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 6px;
    padding: .5rem 1rem;
    margin-bottom: 1rem;
}
/* ---- END GALLERY ---- */

/* ---- ABOUT ---- */
.about-card {
    background: #222;
    padding: 1.5rem;
    border-radius: 10px;
    transition: box-shadow 0.3s, border-color 0.3s;
}

.back-shadow:hover {
    box-shadow: 0 0 20px 2px #7fc6e2;
}

.about-title {
    display: inline;
    color: #ff8906;
    margin-bottom: 0.5rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-item {
    text-align: center;
    margin-top: 2rem;
}

.about-item h5 {
    margin-bottom: 0.25rem;
    color: #ff8906;
}
/* ---- END ABOUT ---- */

/* ---- TESTIMONIALS ---- */
.testimonial-card {
    background: #222;
    padding: 1.5rem;
    border-radius: 10px;
    transition: box-shadow 0.3s, border-color 0.3s;
}

.testimonial-card:hover {
    box-shadow: 0 0 20px 2px #7fc6e2;
}
/* ---- END TESTIMONIALS ---- */

/* ---- HOVER ZOOMER ---- */
.hover-zoomer {
    transition: transform 0.3s cubic-bezier(.25, .8, .25, 1), box-shadow 0.3s;
}

.hover-zoomer:hover {
    transform: scale(1.07);
    z-index: 2;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.3);
}
/* ---- HOVER ZOOMER END ---- */

/* ---- FOOTER ---- */
.footer {
    background: #1e1d1d;
    color: #fff;
}

.footer-link {
    color: #fff;
}

.footer .footer-link:hover {
    color: #ff8906;
    text-decoration: underline;
}

.footer-social a {
    font-size: 1.2rem;
    padding-left: 10px;
    transition: color 0.2s;
}

.footer-social a:hover {
    color: #ff8906;
}

.brand-logo {
    width: 150px;
    height: 100px;
    border-radius: 2%;
    margin-bottom: 1rem;
}

@media (max-width: 767.98px) {
    .footer {
        text-align: center;
    }

    .footer .col-md-3,
    .footer .col-md-2,
    .footer .col-md-4 {
        margin-bottom: 2rem;
    }
}

/* ---- END FOOTER ---- */


